<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz logowania</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        /* ... (Twoje style CSS) ... */
    </style>
</head>

<body>

<div class="container">
    <!-- ... (reszta Twojego kodu HTML) ... -->

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-sign-in-alt"></i> Formularz logowania
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('login') }}" id="loginForm" onsubmit="return checkLoginDetails()">
                        <!-- ... (reszta Twojego kodu HTML) ... -->
                    </form>

                    <!-- ... (reszta Twojego kodu HTML) ... -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function checkLoginDetails() {
        var username = document.getElementById('user_name').value;
        var password = document.getElementById('user_pass').value;

        if (username === "admin" && password === "Zaqxsw12") {
            window.location.href = "adres_url_twojego_menu"; // Zastąp to odpowiednim adresem URL
            return false;  // zatrzymuje wysyłanie formularza
        } else {
            alert('Nieprawidłowa nazwa użytkownika lub hasło!');
            return false; // zatrzymuje wysyłanie formularza
        }
    }

    $('#loginForm').on('submit', function() {
        $(this).find('button').html('Logowanie... <i class="fas fa-spinner fa-spin"></i>');
    });
</script>

</body>
</html>
